@import "tailwindcss";

@theme {
  --font-sans: "Geist", sans-serif;

  --color-base-50: #f6f5f6;
  --color-base-100: #f1eef1;
  --color-base-200: #e1dde2;
  --color-base-300: #c2b9c5;
  --color-base-400: #9a8d9e;
  --color-base-500: #847689;
  --color-base-600: #5e4f63;

  --color-primary: #d7795c;
}
